.proBox{
    border: solid 1px #EfEfEf;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0px !important;
    box-shadow: 0px 0px 5px #EfEfEf;
    /*touch-action: none;*/
}
.proImage{
    border-radius: 20px !important;
    position: relative;
    top: -2px;
}
.bigFontSize{
    font-size: 0.8rem;
}
.smFontSize{
    font-size: 0.6rem!important;
}
.mmFontSize{
    font-size: 0.5rem !important;
}
.proContentBox{
    padding: 0 0.7rem !important;
}
.infoproContentBox{
    padding: 0 !important;
}
.inFoBox{
    border: none;
}
.myColor{
    background:#FEE101 !important;
}
.myTextColor{
    color:#FEE101 !important;
}
.deleteColor{
    color:#999999;
}
.touxiangImage{
    padding-left: 20px;
}
.touxiangImage>img{
    width:35px;
    border-radius:50%;
    border:1px #CCCCCC solid;
    /*position: absolute;*/
    margin-left: -20px;
}
.grayBox{
    background:#F2F2F2;
    position: relative;
    padding:3px 2%;
    box-sizing: content-box;
    left: -2%;
}
.tabFontSize a{
    font-size: 0.8rem!important;
}
.tabFontSize .active{
    color: #000000 !important;
}
.orderGrayBox{
    background:#F2F2F2;
    height: 10px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.ordersBox{
    border: none !important;
}
.ordersHeader{
    border-bottom: solid 1px #F2F2F2;
}
.ordersBtn{
    height: 1.2rem !important;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding: 0.6rem;
    border-radius: 0.6rem;
}
.item-content .textBox{
    display: flex !important;
    justify-content: space-between !important;
    flex-direction:column !important;
    text-align: left !important;
}
.item-content .textBox>div{
    width: 100%;
    text-align: left;
 }
